<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const addProducts = ref<any[]>([]);
const sum = ref<number>(0);

const addProduct = (p: any) => {
  addProducts.value.push(p);
  sum.value += p.price;
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="menu-height">
        <v-row>
          <v-col v-for="(item, index) of products" :key="index" cols="4">
            <v-card class="mx-auto text-center">
              <v-card-item>
                <div class="text-h6 mb-1">
                  {{ item.name }}
                </div>
                <div class="text">{{ item.price }}</div>
              </v-card-item>

              <div class="justify-center mb-4">
                <v-btn @click="addProduct(item)">ADD</v-btn>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <v-table fixed-header class="font-weight-medium" height="530px">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="addProducts.length === 0">
              <td colspan="3" class="text-center">NO Data</td>
            </tr>
            <tr v-for="(item, index) of addProducts" :key="index">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <div class="sum-st">Sum: {{ sum }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.menu-height {
  overflow: auto;
  max-height: calc(90vh);
}

.sum-st {
  font-size: 60px;
  position: absolute;
  bottom: 0;
}
</style>
