<script lang="ts" setup>
import { ref } from "vue";
const items = ref(0);
</script>

<template>
  <div>
    <v-container>
      <v-row>
        <v-text-field
          class="my-6"
          v-model.number="items"
          label="Please input Number"
          :rules="[(v) => !!v || 'Number is not empty!!']"
        ></v-text-field>
      </v-row>

      <v-row>
        <v-container style="height: 65vh; overflow-y: auto">
          <v-row
            ><v-col v-for="(item, index) in items" :key="index" cols="1">
              <p class="my-8 text-right">{{ item }}</p>
            </v-col></v-row
          >
        </v-container>
      </v-row>
    </v-container>
  </div>
</template>
