<script lang="ts" setup>
import { ref } from "vue";
const callImg = ref("feeling_imgs/smile.png");
const callName = ref("Smile");
function Angry() {
  callImg.value = "feeling_imgs/angry.png";
  callName.value = "Angry";
}
function Cute() {
  callImg.value = "feeling_imgs/cute.png";
  callName.value = "Cute";
}
function Excited() {
  callImg.value = "feeling_imgs/excited.png";
  callName.value = "Excited";
}
function Pain() {
  callImg.value = "feeling_imgs/pain.png";
  callName.value = "Pain";
}
function Shock() {
  callImg.value = "feeling_imgs/shocked.png";
  callName.value = "Shock";
}
function Smile() {
  callImg.value = "feeling_imgs/smile.png";
  callName.value = "Smile";
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <div class="center">
          <v-img :src="callImg" width="300" cover></v-img>
        </div>
      </v-col>
      <v-col>
        <div class="center">
          <p class="front">{{ callName }}</p>
          <v-btn block @click="Angry" height="36" width="400" class="ma-4"
            >Angry</v-btn
          >
          <v-btn block @click="Cute" height="36" width="400" class="ma-4"
            >Cute</v-btn
          >
          <v-btn block @click="Excited" height="36" width="400" class="ma-4"
            >Excited</v-btn
          >
          <v-btn block @click="Pain" height="36" width="400" class="ma-4"
            >Pain</v-btn
          >
          <v-btn block @click="Shock" height="36" width="400" class="ma-4"
            >Shock</v-btn
          >
          <v-btn block @click="Smile" height="36" width="400" class="ma-4"
            >Smile</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.front {
  color: rgb(0, 0, 0);
  font-size: 40px;
}
.center {
  margin: 30px;
  text-align: center;
}

button:focus {
  background: rgb(255, 255, 0);
}
</style>
