<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const Counter = useCounterStore();
</script>

<template>
  <v-card>
    <v-card-item>
      <h3>First Component</h3>
      <p>{{ Counter.count }}</p>
      <v-btn @click="Counter.increment()" class="mt-4"> Increment </v-btn>
    </v-card-item>
  </v-card>
</template>
