<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const Counter = useCounterStore();
</script>

<template>
  <v-card>
    <v-card-item>
      <h3>Second Component</h3>
      <p>{{ Counter.doubleCount }}</p>
      <v-btn @click="Counter.decrease()" class="mt-4"> Decrease </v-btn>
    </v-card-item>
  </v-card>
</template>
